<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dist/output.css" rel="stylesheet">
    <title>Homepage</title>
</head>
<body class="bg-[#0E172B] font-mono">
   <!-- NAVBAR  -->
   <nav class="bg-[#0E172B] text-[#E3E8F1] max-w-sm mx-auto md:max-w-md lg:max-w-3xl">
    <div class="py-8 mx-auto flex justify-between items-center">
        <!-- Logo -->
        <div class="text-white bold text-4xl py-2 px-4 border-4 border-white">
            <a href="#">FS</a>
        </div>
        <!-- Menu -->
        <div>
            <ul class="flex items-center justify-between space-x-8">
                <li class="hover:text-blue-500"><a href="/">HOME</a></li>
                <li class="hover:text-blue-500"><a href="/about">ABOUT</a></li>
            </ul>
        </div>
        <!-- Side -->
    </div>
   </nav>
   <!-- MAIN CONTENT -->
   {% block content %}
   {% endblock %}
   
   <!-- FOOTER -->

</body>
</html>